body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  a:hover{
    color: yellow
  }


.main-header{
    border: 1px solid white;
    padding: 1rem;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

li a{
    text-decoration: none;
    color: #fff;
}

#pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

#pesquisa input{
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-left: 9px;
}
