<!DOCTYPE html>
<html>
<!-- Include Head -->
<%- include('includes/head', {title: 'Blog do Cervejeiro' }) %>

<body>
  <%- include('includes/header') %>
  <main>
  <h2>
    BLOG DO CERVEJEIRO
  </h2><br>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde ullam voluptas, ipsa accusamus cum veritatis aspernatur fuga non esse molestiae incidunt aperiam ratione perspiciatis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde ullam voluptas, ipsa accusamus cumveritatis aspernatur fuga non esse molestiae incidunt aperiam ratione perspiciatis.</p><br><br>
          
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde ullam voluptas, ipsa accusamus cum veritatis aspernatur fuga non esse molestiae incidunt aperiam ratione perspiciatis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde ullam voluptas, ipsa accusamus cumveritatis aspernatur fuga non esse molestiae incidunt aperiam ratione perspiciatis.</p><br><br>
          
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde ullam voluptas, ipsa accusamus cum veritatis aspernatur fuga non esse molestiae incidunt aperiam ratione perspiciatis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde ullam voluptas, ipsa accusamus cumveritatis aspernatur fuga non esse molestiae incidunt aperiam ratione perspiciatis.</p><br><br>
          
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde ullam voluptas, ipsa accusamus cum veritatis aspernatur fuga non esse molestiae incidunt aperiam ratione perspiciatis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde ullam voluptas, ipsa accusamus cumveritatis aspernatur fuga non esse molestiae incidunt aperiam ratione perspiciatis.</p><br><br>
          
  <p>
    1.4. Conta de Usuário: Para efetuar compras no Website, você pode precisar criar uma conta de usuário. Ao criar uma conta de usuário, você concorda em fornecer informações precisas e completas, incluindo seu nome, endereço de e-mail, informações de pagamento e outras informações necessárias. Você é responsável por manter a confidencialidade de sua conta de usuário e por todas as atividades que ocorrerem em sua conta. A [nome da empresa ou pessoa responsável] reserva-se o direito de suspender ou encerrar sua conta de usuário a qualquer momento, a seu critério, se considerar que você violou estes termos de uso ou qualquer outra política aplicável.</p><br><br>

  </main>

    <%- include('includes/footer') %>
</body>
<script src="./fontawesome/js/all.min.js"></script>
</html>