<!DOCTYPE html>
<html>
<!-- Include Head -->
<%- include('includes/head', {title: 'Contatos' }) %>

<body>
  <%- include('includes/header') %>
  <main>

    <div id="box">
      <div class="caixa1">
        <h2>
          CONTATOS
        </h2><br>

        <p> Não somos uma loja de cervejas artesanais. Na verdade, somos um grupo de alunos do curso de desenvolvimento 
          Full Stack da Digital House. Fomos instigados à construir um e-commerce utilizando ferramentas de Front End 
          e Back end durante o desenvolvimento.
          Como cerveja é uma paixão nacional, nada melhor que mergulhar de cabeça 
          no universo das cervejas artesanais..</p><br><br>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde
          ullam voluptas, ipsa accusamus cum veritatis aspernatur fuga non esse molestiae incidunt aperiam ratione
          perspiciatis. Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p><br><br>
      </div>
      <div class="caixa2">

        <div class="txt">
          
          <h2>COMPONENTES DO GRUPO</h2>
        </div>

        <div class="top">

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="images/Equipe/akemi.jpg" alt="Akemi" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h3>AKEMI</h3><br>
                <a href="https://www.linkedin.com/in/joyce-akemi-sinohara-17329b35 " target="_blank">LinkedIn</a><br>
              </div>
            </div>
          </div>

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="images/Equipe/bia.jpg" alt="Bia" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h3>BIA</h3><br>
                <a href="https://www.linkedin.com/in/bianca-schoti-7a283b173 " target="_blank">LinkedIn</a><br>
              </div>
            </div>
          </div>

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="images/Equipe/leonardo-telles.jpg" alt="Leonardo Telles" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h3>LEONARDO</h3><br>
                <a href="https://www.linkedin.com/in/leonardo-ac-telles/" target="_blank">LinkedIn</a><br>
              </div>
            </div>
          </div>

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="images/Equipe/marcelo-alves.jpg" alt="Marcelo Alves" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h3>MARCELO ALVES</h3><br>
                <a href="https://www.linkedin.com/in/marciacruz1610/" target="_blank">LinkedIn</a><br>
              </div>
            </div>
          </div>

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="images/Equipe/marcelo-goncalves.jpg" alt="Marcelo Goncalves" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h3>MARCELO GONCALVES</h3><br>
                <a href="https://www.linkedin.com/in/marcelo-goncalves-23b86024/ " target="_blank">LinkedIn</a><br>
              </div>
            </div>
          </div>

          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="images/Equipe/marcia-cruz.jpg" alt="Marcia Cruz" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h3>MARCIA</h3><br>
                <a href="https://www.linkedin.com/in/marciacruz1610/" target="_blank">LinkedIn</a><br>
              </div>
            </div>
          </div>
          
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="images/Equipe/tania.jpg" alt="Tania" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                <h3>TANIA</h3><br>
                <a href="https://www.linkedin.com/in/tanialilianalves" target="_blank">LinkedIn</a><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('includes/footer') %>
    
</body>
<script src="./fontawesome/js/all.min.js"></script>
</html>