<!DOCTYPE html>
<html>
<!-- Include Head -->
<%- include('includes/head', {title: 'Politica de Privacidade' }) %>

<body>
  <%- include('includes/header') %>
  <main>
  <h2>
    POLITICA DE PRIVACIDADE
  </h2><br>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde ullam voluptas, ipsa accusamus cum veritatis aspernatur fuga non esse molestiae incidunt aperiam ratione perspiciatis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde ullam voluptas, ipsa accusamus cumveritatis aspernatur fuga non esse molestiae incidunt aperiam ratione perspiciatis.</p><br>
          
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde ullam voluptas, ipsa accusamus cum veritatis aspernatur fuga non esse molestiae incidunt aperiam ratione perspiciatis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde ullam voluptas, ipsa accusamus cumveritatis aspernatur fuga non esse molestiae incidunt aperiam ratione perspiciatis.</p><br>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde ullam voluptas, ipsa accusamus cum veritatis aspernatur fuga non esse molestiae incidunt aperiam ratione perspiciatis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde ullam voluptas, ipsa accusamus cumveritatis aspernatur fuga non esse molestiae incidunt aperiam ratione perspiciatis.</p><br>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde ullam voluptas, ipsa accusamus cum veritatis aspernatur fuga non esse molestiae incidunt aperiam ratione perspiciatis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero modi voluptatem, quo adipisci dolorem unde ullam voluptas, ipsa accusamus cum veritatis aspernatur fuga non esse molestiae incidunt aperiam ratione perspiciatis.</p>
  </main>

    <%- include('includes/footer') %>
</body>
<script src="./fontawesome/js/all.min.js"></script>
</html>