<!DOCTYPE html>
<html>
<!-- Include Head -->
<%- include('includes/head', {title: 'Termos de Uso' }) %>

<body>
  <%- include('includes/header') %>
  <main>
  <h2>
    TERMOS DE USO
  </h2><br>

    <p> 
      Bem-vindo ao [nome do website]! Este Termo de Uso estabelece os termos e condições para o uso do nosso website, [URL do website] (doravante referido como "Website"), de propriedade de [nome da empresa ou pessoa responsável]. Ao acessar e usar o Website, você concorda em cumprir estes termos e condições, bem como todas as leis e regulamentos aplicáveis. Se você não concordar com estes termos, por favor, não acesse nem use o Website.</p><br><br>
          
    <p>
      Uso do Website
      1.1. Idade Mínima: O uso do Website é permitido apenas para pessoas com idade igual ou superior à idade legal para consumir bebidas alcoólicas em seu país de residência. Ao acessar e usar o Website, você declara que possui a idade legal para consumir bebidas alcoólicas em seu país de residência.</p><br><br>
          
    <p>
      1.2. Finalidade: O Website destina-se exclusivamente para fins informativos e para a venda de bebidas alcoólicas permitidas por lei. O uso do Website para qualquer outra finalidade é estritamente proibido.</p><br><br>
          
    <p>
      1.3. Conteúdo: O conteúdo do Website, incluindo, mas não se limitando a, textos, imagens, logotipos, marcas registradas, gráficos, vídeos e outros materiais (doravante referidos como "Conteúdo"), é de propriedade exclusiva da [nome da empresa ou pessoa responsável] ou de seus licenciadores e é protegido por leis de direitos autorais e outras leis de propriedade intelectual. É proibido copiar, reproduzir, distribuir, transmitir, exibir, vender, licenciar ou explorar de qualquer forma o Conteúdo do Website sem a autorização prévia por escrito da [nome da empresa ou pessoa responsável].</p><br><br>

  </main>

    <%- include('includes/footer') %>
</body>
<script src="./fontawesome/js/all.min.js"></script>
</html>