a:hover{
  color: yellow
}
.card-form {
  padding: 40px;
  margin: 100px 100px;
  border-radius: 3px;
  height: 900px;
  min-height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
  flex-grow: 1;
}

.image{
height: 380px;
width: 480px;
}

h5{
  font-family: 'Abel';
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 8px;
  color: #F9E000;
  height: 150px;
  }
  
  .card-form p{
  display: flex;
  flex-flow: wrap;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #FEFBFB;
  justify-content:space-around;
  letter-spacing: 1px;
  padding: 10px;
  margin: 10px;
  }

.conteudo {
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
  margin: 30px;
}

.header {
  background-color: transparent;
  padding: 20px;

}
h2{
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  color: #F9E000;
  border: none;
  align-items: center;
}
.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  background-color: black;
  border: none;
}

.form-control input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-control select {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.enviar{
  width: 387px;
  height: 50px;
}

button [type="submit"] {
  background-color: #424242;
  border: none;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px; 
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  cursor: pointer;
}

button[type="submit"]:hover{
  background-color: white;
  color: black;
}

/* Error and Success */
.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
  color: #e74c3c;
}