.login-container{
  background-color: black;
  height: 500px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  border-radius: 10px;
  text-align: center;
  position: relative;
  border: 1px solid white;

}

h1{
  color: #FFFFFF;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
}
.acess-login{
  margin-left: 100px;
  margin-top: 50px;
  align-items: center;
}
.acess-login input{
 background-color: #F9E000;;
 display:block;
 margin-bottom: 30px;
 border-radius: 25px;
 color: #000000;
 font-family: 'Arial';
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 border-color: yellow;
 text-align: center;
  height: 40px;
  width: 383px;
} 
.esqueci-senha a {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #FFFFFF;
}
a:hover{
  color: yellow
} 


#forgot-pass{
  text-align: right;
  display: block;
}
button[type="submit"]{
  width: 387px;
  height: 40px;
  left: 20px;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  margin-top: 30px;
  color: white;
  cursor: pointer;
  background-color: #1D1C1C;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
}
button[type="submit"]:hover{
  background-color: white;
  color: black;
}

.register-container a{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 64px;
  color: #FFFFFF;
  text-align: center;
}

.register-container:hover{
  color: yellow
} 